<h1 align="center"><font color="red">Construindo pipelines GenAI robustos: aproveitando LlamaIndex, Qdrant e MLflow para indexação avançada (Parte 1)</font></h1>

<font color="pink">Senior Data Scientist.: Dr.Eddy Giusepe Chirinos Isidro</font>

Este Notebook foi baseado no tutorial de [MK Pavan Kumar](https://blog.stackademic.com/building-robust-genai-pipelines-leveraging-llamaindex-qdrant-and-mlflow-for-advanced-indexing-c3293be5735c)

![](https://miro.medium.com/v2/resize:fit:1400/format:webp/1*2bB176JllUAE33hp-t89NQ.png)

# <font color="blue">MLflow Setup</font>

In [ ]:
! pip install mlflow

# <font color="blue">Start MLflow server</font>

Isso executará o servidor na porta 5000:

```
mlflow server
```

Executa o servidor numa porta personalizada:

```
mlflow server --host 127.0.0.1 --port 3001
```

# <font color="blue">Write Code to Track Your Experiment with MLflow</font>

In [4]:
import pandas as pd
import numpy as np

import mlflow
import mlflow.sklearn
from sklearn.datasets import load_diabetes
from sklearn.linear_model import ElasticNet # Algoritmo de regressão que combina duas técnicas de regularização (L1 e L2)
from sklearn.metrics import mean_squared_error, r2_score
from sklearn.model_selection import train_test_split

import matplotlib.pyplot as plt
%matplotlib inline

# Carregar o dataset Diabetes:
data = load_diabetes()
X = data.data
y = data.target

# Visualizando meus dados (X e y) em um DataFrame:
df = pd.DataFrame(X, columns=data.feature_names)
df['target'] = y
df.head()

,age,sex,bmi,bp,s1,s2,s3,s4,s5,s6,target
0,0.038076,0.050680,0.061696,0.021872,-0.044223,-0.034821,-0.043401,-0.002592,0.019907,-0.017646,151.0
1,-0.001882,-0.044642,-0.051474,-0.026328,-0.008449,-0.019163,0.074412,-0.039493,-0.068332,-0.092204,75.0
2,0.085299,0.050680,0.044451,-0.005670,-0.045599,-0.034194,-0.032356,-0.002592,0.002861,-0.025930,141.0
3,-0.089063,-0.044642,-0.011595,-0.036656,0.012191,0.024991,-0.036038,0.034309,0.022688,-0.009362,206.0
4,0.005383,-0.044642,-0.036385,0.021872,0.003935,0.015596,0.008142,-0.002592,-0.031988,-0.046641,135.0

In [5]:
df.shape

(442, 11)

In [6]:
# Split dos dados em conjuntos de treinamento e teste:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

# Definir parâmetros do modelo:
alpha = 0.5
l1_ratio = 0.5

In [8]:
# Definir uri de rastreamento mlflow:
mlflow.set_tracking_uri("http://127.0.0.1:3001/")

In [ ]:
# Iniciar um experimento MLflow:
with mlflow.start_run():